#btn90415,#btn20643 {
background-color:red;
font-weight:bold;
border-radius:16px;
margin:8px;
}

#testing {
border:solid 1px gray;
}

#left, #right {
display:inline-block;
}

#left > p , #right > p {
margin-left:8px;
}

#left > p:first-child , #right > p:first-child {
border-bottom:solid 1px red;
margin-left:8px;
padding-bottom:16px;
}

#right {
position:relative;
left:35%;
border-left:solid 1px blue;
}
